Repository ArkEcosystem/python-client, pull requests merged in 2019-09, with the labels that each got.

#94 feat: crypto endpoint
  client/api/node.py
  tests/api/test_node.py
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Feature

#96 feat: add rounds api
  .codacy.yaml
  client/api/rounds.py
  tests/api/test_rounds.py
Labels: Complexity: Low, Status: Contributor Approved, Type: Feature

#100 ci: adjust job triggers
  .github/workflows/test.yml
Labels: Complexity: Low

#101 ci: report coverage to codecov
  .github/workflows/test.yml
Labels: Complexity: Low
